if (main_banner_desktop != '')
	#big-slider.width-100
		amp-img(media="(min-width: 650px)",src=main_banner_desktop, width="3.2" height="1" layout="responsive")
		amp-img(media="(max-width: 649px)",srcset=main_banner_mobile, width="16" height="9" layout="responsive")
else 
	#big-slider.width-100.default
		amp-img(media="(min-width: 650px)",src="assets/img/header_image_default.jpg", width="185" height="52" layout="responsive")
		amp-img(media="(max-width: 649px)",srcset="assets/img/header_image_default_mobile_" + country_code + ".jpg", width="16" height="9" layout="responsive")
	
#brand-top
	.top-selling-products.content-block
		amp-list(width="auto", height="165", layout="fixed-height", src="data/data_product.json")
			template(type="amp-mustache")
				amp-carousel(height="165", width="auto",  layout="fixed-height", type="carousel")
					|{{#values}}{{#img}}<a href="{{url}}" class="effect1 top-product-list"><amp-img src="{{img}}" alt="{{title}}" width="16" height="9" layout="responsive"></amp-img></a>{{/img}}{{/values}}
#wording-eleven
	.tagline-heading.row
		.tagline
			h1 !{mainTitle}
		.tagline-content
			p !{tagline} 
#brand-list
	h2 !{brandTagline}
	p !{brandDescription}
	.brand-carousel.content-block
		amp-list(media="(max-width: 649px)",width="auto", height="224", layout="fixed-height", src="data/data_brands.json")
			template(type="amp-mustache")
				amp-carousel(height="224", width="auto",  layout="fixed-height", type="slides", autoplay, delay="3000")
					|{{#values}}{{#img}}<div class="brand-item"><a href="{{url}}"><amp-img src="{{img}}" alt="{{title}}" width="25" height="12" layout="responsive"></amp-img>{{#default}}<span class="description">{{description}}</span><span class="cta">{{cta}}</span>{{/default}}</a></div>{{/img}}{{/values}}
	.brand-list.row.content-block 
		amp-list(media="(min-width: 650px)",width="auto", height="256", layout="fixed-height", src="data/data_brands.json")
			template(type="amp-mustache")
				|{{#values}}{{#img}}
				.brand-item.col-md-6
					a(href="{{url}}", data-cta="{{cta}}")
						amp-img(src="{{img}}", width="25", height="12", layout="responsive")
						| {{#default}}
						span.description {{description}}
						span.cta {{cta}}
						| {{/default}}
				|{{/img}}{{/values}}
#top-brand-list
	.content-block.top-brand-list.row
		strong !{topBrandTitle}
		amp-list(media="(max-width: 767px)",width="auto", height="172", layout="fixed-height", src="data/data-top_brand.json")
			template(type="amp-mustache")
				amp-carousel(height="172", width="auto",  layout="fixed-height", type="carousel")
					|{{#values}}{{#img}}<div class="brand-item"><a href="{{url}}" class="top-product-list"><amp-img src="{{img}}" width="128" height="128" layout="responsive"></amp-img></a><span class="title">{{title}}</span></div>{{/img}}{{/values}}
		amp-list(media="(min-width: 768px)",width="auto", height="180", layout="fixed-height", src="data/data-top_brand.json")
			template(type="amp-mustache")
				|{{#values}}{{#img}}
				.brand-item.col-md-2
					a(href="{{url}}")
						amp-img(src="{{img}}", width="1", height="1", layout="responsive")
					span.title {{title}}
				|{{/img}}{{/values}}
#coupon-list
	h2 !{couponTagline}
	p !{couponDescription}
	.coupon-list-wrapper.content-block
		amp-list(width="auto", height="280", layout="fixed-height", src="data/data_coupons.json")
			template(type="amp-mustache")
				.coupon-item.col-md-3
					a(href="{{url}}", target="_blank")
						amp-img(src="{{img}}", layout="responsive", width="2", height="1")
						span.highlight {{highlight}}
						span.description {{description}}
						span(class="coupon_code {{type}}", data-direct=couponDirect)
								span.overlay #{couponCTA}
								label {{coupon_code}}
#top-store-list
	.content-block.top-store-list
		strong !{topMerchantTitle}
		amp-list(media="(max-width: 767px)",width="auto", height="110", layout="fixed-height", src="data/data-top_stores.json")
			template(type="amp-mustache")
				amp-carousel(height="110", width="auto",  layout="fixed-height", type="carousel")
					|{{#values}}{{#img}}<div class="brand-item"><a href="{{url}}" class="top-product-list"><amp-img src="{{img}}" width="150" height="75" layout="responsive"></amp-img><span class="title">{{title}}</span></a></div>{{/img}}{{/values}}
		amp-list(media="(min-width: 768px)",width="auto", height="172", layout="fixed-height", src="data/data-top_stores.json")
			template(type="amp-mustache")
				amp-carousel(height="172", width="auto",  layout="fixed-height", type="carousel")
					|{{#values}}{{#img}}<div class="brand-item"><a href="{{url}}" class="top-product-list"><amp-img src="{{img}}" width="150" height="75" layout="responsive"></amp-img><span class="title">{{title}}</span></a></div>{{/img}}{{/values}}

#subscribe-section
	.content-block.subscribe-form-wrapper
		p.width-100 !{subscribeCopy}
		#mc_embed_signup.subscribe-now
			form#mc-embedded-subscribe-form.validate(action-xhr="//iprice.us8.list-manage.com/subscribe/post?u=324d1f42da403cc125e4ac5e1&amp;id="+mailchimp, method="POST",name="mc-embedded-subscribe-form",target="_blank" , novalidate)
				#mc_embed_signup_scroll
					input#mce-EMAIL.email(type="email", name="EMAIL", placeholder="your.email.address@email.com", required )
					label Email Address
					div.hidden(aria-hidden="true")
						input(type="hidden",name="b_324d1f42da403cc125e4ac5e1_"+mailchimp ,tabindex="-1")
					div.clear
						input#mc-embedded-subscribe.button(type="submit", value=subscribeCTA, name="subscribe")
				div(submit-error)
					template(type="amp-mustache") #{subcribeMessage}